/* Global view aka Desktop */

body {
    margin: 0px;
    background-color: #EBEBEB;
    font-family: 'Asap', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    font-family: 'Asap', sans-serif;
}

.header-container {
    background-color: rgb(60, 60, 60);
    min-height: 100px;
    /* margin-bottom: 40px; */
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
}

header {
    max-width: 1024px;
    /* background-color: blueviolet; */
    margin: 0 auto;
    min-height: 100px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo span {
    font-weight: bold;
}

nav {
    display: flex;
}

.mybutton {
    padding: 10px 25px;
    border: 1px solid white;
    margin-left: 15px;
}

nav .mybutton:hover {
    background-color: rgba(128, 128, 128, 0.293);
}

.container {
    /* background-color: rgb(11, 241, 145); */
    min-height: 500px;
    max-width: 1024px;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
    padding-top: 140px;
}

.hide-desktop-only {
    display: none;
}

.col {
    /* background-color: blueviolet;
    min-height: 200px; */
    width: 30%;
    margin-bottom: 40px;
    background-color: #2be293;
}

.col img {
    width: 100%;
    height: auto;
}

.col p {
    padding: 15px 25px;
    font-size: 0.875rem;
    line-height: 20px;
}

.col p::first-line {
    font-weight: bold;
}

.mob-wrapper {
    display: none;
}




/* Tablet view */
@media (max-width: 768px) {

    .col {
        width: 45%;
    }

    .hide-desktop-only {
        display: block;
    }


    nav {
        justify-content: center;
        display: block;
        display: none;
    }

    .logo {
        padding: 40px 0;
        padding-left: 1.25rem;
    }

    .header-container {
        position: relative;
        width: 100%;
    }

    .container {
        padding-top: 40px;
    }

    .mybutton {
        display: block;
        margin-left: 0;
    }

    .mob-wrapper {
        display: block;
        padding-right: 20px;
    }
    
    .mob-nav {
        display: none;
        position: absolute;
        margin-top: 10px;
    }

    .navbutton {
        display: block;
        background-color: #2be293;
        padding: 15px 30px;
        margin-left: -80px;
        text-align: center;
    }

    .burger-menu {
        color: #2be293;
    }

}



/* Mobile view */
@media (max-width: 450px) {

    .col {
        width: 100%;
    }

    .hide-mobile {
        display: none;
    }

}